{% if historiesPres is not empty %}
<tr>
  <th>Président :</th>
  <td>
    {% for traces in historiesPres %} Association
    {{ traces.association.libelle }}
    {% if traces.startDate is not empty %} du
    {{ traces.startDate|date('d-m-Y')  }}
    {% endif %} {% if traces.endDate is not empty %} au
    {{ traces.endDate|date('d-m-Y')  }}
    {% endif %} <br />
    {% endfor %}
  </td>
</tr>
{% endif %} {% if historiesRef is not empty %}
<tr>
  <th>Référent :</th>
  <td>
    {% for traces in historiesRef %} Association
    {{ traces.association.libelle }}
    {% if traces.startDate is not empty %} du
    {{ traces.startDate|date('d-m-Y')  }}
    {% endif %} {% if traces.endDate is not empty %} au
    {{ traces.endDate|date('d-m-Y')  }}
    {% endif %}<br />
    {% endfor %}
  </td>
</tr>
{% endif %}
