{% if historiesPres is not empty %}
<tr>
  <th>Président :</th>
  <td>
    {% for history in historiesPres %} Association
    {{ history.association.libelle }}
    {% if history.startDate is not empty %} du
    {{ history.startDate|date('d-m-Y')  }}
    {% endif %} {% if history.endDate is not empty %} au
    {{ history.endDate|date('d-m-Y')  }}
    {% endif %} <br />
    {% endfor %}
  </td>
</tr>
{% endif %} {% if historiesRef is not empty %}
<tr>
  <th>Référent :</th>
  <td>
    {% for history in historiesRef %} Association
    {{ history.association.libelle }}
    {% if history.startDate is not empty %} du
    {{ history.startDate|date('d-m-Y')  }}
    {% endif %} {% if history.endDate is not empty %} au
    {{ history.endDate|date('d-m-Y')  }}
    {% endif %}<br />
    {% endfor %}
  </td>
</tr>
{% endif %}
