{% extends 'base.html.twig' %} {% block title %}Edit Association{% endblock %}
{% block body %}
<div class="container">
  {% if association.code is not empty %}
  <h1>Mise à jour de l'association</h1>
  {% else %}
  <h1>Création d'une association</h1>
  {% endif %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row g-5">
          <div class="col-md-6">
            {{ form_start(form) }}

            <div class="form-group mb-3">
              {{ form_label(form.code) }}
              {{ form_widget(form.code) }}
              <div class="form-error">{{ form_errors(form.code) }}</div>
            </div>

            <div class="form-group mb-3">
              {{ form_label(form.libelle) }}
              {{ form_widget(form.libelle) }}
              <div class="form-error">{{ form_errors(form.libelle) }}</div>
            </div>

            <div class="form-group mb-3">
              {{ form_label(form.adress) }}
              {{ form_widget(form.adress) }}
              <div class="form-error">{{ form_errors(form.adress) }}</div>
            </div>

            <div class="form-group mb-3">
              {{ form_label(form.cp) }}
              {{ form_widget(form.cp) }}
              <div class="form-error">{{ form_errors(form.cp) }}</div>
            </div>

            <div class="form-group mb-3">
              {{ form_label(form.city) }}
              {{ form_widget(form.city) }}
              <div class="form-error">{{ form_errors(form.city) }}</div>
            </div>

            <div class="form-group mb-3">
              {{ form_label(form.tel) }}
              {{ form_widget(form.tel) }}
              <div class="form-error">{{ form_errors(form.tel) }}</div>
            </div>

            <div class="form-group mb-3">
              {{ form_label(form.email) }}
              {{ form_widget(form.email) }}
              <div class="form-error">{{ form_errors(form.email) }}</div>
            </div>

            <div class="form-group mb-3">
              {{ form_label(form.president) }}
              <div class="input-group">
                {{ form_widget(form.president) }}
                <span class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    onclick="handleAddPresident()"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </span>
              </div>
              <div class="form-error">{{ form_errors(form.president) }}</div>
            </div>
            <div class="form-group mb-3">
              {{ form_label(form.referent) }}
              <div class="input-group">
                {{ form_widget(form.referent) }}
                <span class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    id="clickAddReferent"
                    onclick="handleAddReferent()"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </span>
              </div>
              <div class="form-error">{{ form_errors(form.referent) }}</div>
            </div>
          </div>
          <div class="col-md-6">
            {{ include("admin/association/_president_form.html.twig") }}
            {{ include("admin/association/_referent_form.html.twig") }}
          </div>
          <div class="col-md-6">
            <div class="row mt-3">
              <div class="col-12">
                <div class="d-flex justify-content-between">
                  <a href="{{ path('asso_list') }}" class="btn btn-primary"
                    >Retour à la liste</a
                  >
                  <button type="submit" class="btn btn-primary">
                    Enregistrer
                  </button>
                </div>
              </div>
            </div>

            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function handleAddReferent() {
    const createReferentForm = document.querySelector("#createReferentForm");
    createReferentForm.style.display = "block";
    $("#association_referent").prop("selectedIndex", 0);

    const formFields = document.querySelectorAll(".js-referent");

    // Itérer sur tous les champs et les activer
    formFields.forEach(function (field) {
      field.removeAttribute("disabled");
    });
  }
  const selectReferent = document.querySelector("#association_referent");
  selectReferent.addEventListener("change", function () {
    const createReferentForm = document.querySelector("#createReferentForm");
    createReferentForm.style.display = "none";
  });
  function handleAddPresident() {
    const createPresidentForm = document.querySelector("#createPresidentForm");
    createPresidentForm.style.display = "block";
    $("#association_president").prop("selectedIndex", 0);
    const formFields = document.querySelectorAll(".js-president");

    // Itérer sur tous les champs et les activer
    formFields.forEach(function (field) {
      field.removeAttribute("disabled");
    });
  }
  const selectPresident = document.querySelector("#association_president");
  selectPresident.addEventListener("change", function () {
    const createPresidentForm = document.querySelector("#createPresidentForm");
    createPresidentForm.style.display = "none";
  });
</script>
{% endblock %}
