{% extends 'base.html.twig' %} {% block title %}Habitat Humanisme{% endblock %}
{% block body %}
<div class="container">
  <h1 class="pb-2 border-bottom d-flex justify-content-between">
    Liste des associations
    <a href="{{ path('asso_new') }}"><i class="fas fa-plus"></i></a>
  </h1>
  <table class="table table-striped table-hover sortTable" id="assoList">
    <caption>
      Liste des associations
    </caption>
    <thead>
      <tr class="text-center">
        <th scope="col">Code</th>
        <th scope="col">Libellé</th>
        <th scope="col">Adresse</th>
        <th scope="col">Code Postal</th>
        <th scope="col">Tél</th>
        <th scope="col">Email</th>
        <th scope="col">Président</th>
        <th scope="col">Référent</th>
      </tr>
    </thead>
    <tbody>
      {% for asso in listAsso %}
      <tr>
        <th scope="row">{{ asso.code }}</td>
        <td>{{ asso.libelle }}</td>
        <td>{{ asso.adress }}<br />{{ asso.cp }} {{ asso.city }}</td>
        <td>{{ asso.cp }}</td>
        <td>{{ asso.tel }}</td>
        <td>{{ asso.email }}</td>
        <td>
          {% if asso.president is not empty %}
          {{ asso.president.user.firstname }}
          {{ asso.president.user.lastname }}
          {% endif %}
        </td>
        <td>
          {% if asso.referent is not empty %}
          {{ asso.referent.user.firstname }}
          {{ asso.referent.user.lastname }}
          {% endif %}
        </td>
        <td>
          <a href="{{ path('asso_show', { id: asso.id }) }}"
            ><i class="fa-solid fa-eye"></i
          ></a>
        </td>
        <td>
          <a href="{{ path('asso_edit', { id: asso.id }) }}"
            ><i class="fa-solid fa-pen"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $("#assoList").DataTable({
      order: [2, "asc"],
      searching: true,
      info: false,
      paging: false,
      language: {
        sSearch: "<i class='fas fa-search'></i>",
      },
      columns: [
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        { orderable: false },
        { orderable: false },
      ],
      // searchDelay: 300, // Délai avant la prise en compte de la recherche pour éviter un filtrage excessif
    });
  });
</script>
{% endblock %}
