{% extends 'base.html.twig' %} {% block title %}Association{% endblock %} {%
block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Associations</h1>

      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Id:</strong>
            </div>
            <div class="col-md-9">
              {{ association.id }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Code:</strong>
            </div>
            <div class="col-md-9">
              {{ association.code }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Libellé:</strong>
            </div>
            <div class="col-md-9">
              {{ association.libelle }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Adresse:</strong>
            </div>
            <div class="col-md-9">
              {{ association.adress }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>CP:</strong>
            </div>
            <div class="col-md-9">
              {{ association.cp }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Ville:</strong>
            </div>
            <div class="col-md-9">
              {{ association.city }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Tel:</strong>
            </div>
            <div class="col-md-9">
              {{ association.tel }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Email:</strong>
            </div>
            <div class="col-md-9">
              {{ association.email }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Président(e):</strong>
            </div>
            <div class="col-md-9">
              {{ association.president.user.firstname }}
              {{ association.president.user.lastname }}
              <br />
              {{ association.president.fonction }}
            </div>
          </div>
          {% if association.referent is not empty %}
          <div class="row mb-3">
            <div class="col-md-3">
              <strong>Référent(e):</strong>
            </div>
            <div class="col-md-9">
              {% for referent in association.referent %}
              {{ referent.user.firstname }}
              {{ referent.user.lastname }}
              {% if referent.tel is not empty %}
              <br />{{ referent.tel }}
              {% endif %}
              <br />{% if referent.actif %} Actif {% else %} Non Actif {% endif
              %} {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <a href="{{ path('asso_list') }}" class="btn btn-primary"
          >Retour à la liste</a
        >
        <a
          href="{{ path('asso_edit', { id: association.id }) }}"
          class="btn btn-primary"
          >Modifier</a
        >
        {{ include("admin/association/_delete_form.html.twig") }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
