{% extends 'base.html.twig' %} {% block title %} Habitat et Humanisme {%
endblock %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <h2>Vérifier le fichier importé<br /></h2>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-12">
      <p class="text-danger">En rouge les colonnes attendues</p>
      <table class="table table-striped bordercolor">
        <thead class="thead-dark">
          <tr class="table-danger">
            <th>N° ligne</th>
            <th>Code asso</th>
            <th>Association</th>
            <th>Adresse</th>
            <th>CP</th>
            <th>Ville</th>
            <th>Tél</th>
            <th>Email</th>
            <th>Prénom du président</th>
            <th>Nom du président</th>
            <th>Fonction du président</th>
            <th>Email du président</th>
            <th>Prénom du référent</th>
            <th>Nom du Référent</th>
            <th>Email du référent</th>
            <th>Téléphone du référent</th>
            <th>Exemple du texte utilisé lors du précédent appel aux don</th>
          </tr>
        </thead>
        <tbody>
          {% for key, row in data %} {% if key != 0 and row[2] is not empty %}
          <tr>
            <td>{{ key }}</td>
            {% for cell in row %} {% if loop.last %}
            <td class="text-center align-middle">
              {% if cell is not null %}
              <a
                href="#"
                class="btn btn-secondary"
                data-toggle="tooltip"
                title="{{ cell }}"
              >
                <i class="fa-solid fa-info text-primary"></i>
              </a>
              {% endif %}
            </td>
            {% else %}
            <td>{{ cell }}</td>
            {% endif %} {% endfor %}
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-3">
      <a href="{{ path('file_new') }}" class="btn btn-secondary btn-block"
        >Télécharger un nouveau fichier</a
      >
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-3">
      <a
        href="{{ path('file_import', { filepath: filepath }) }}"
        class="btn btn-secondary btn-block"
        onclick="return confirm('Toutes les données de la base seront écrasées, voulez-vous continuer ?');"
        >Importer dans la BD le fichier</a
      >
    </div>
  </div>
</div>

<button id="scroll-top" class="btn btn-primary text-white">
  <i class="fa-solid fa-up-long"></i>
</button>
<script>
  const scrollTopButton = document.getElementById("scroll-top");

  window.addEventListener("scroll", () => {
    if (window.pageYOffset > 100) {
      scrollTopButton.classList.add("visible");
    } else {
      scrollTopButton.classList.remove("visible");
    }
  });

  scrollTopButton.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
{% endblock %}
