<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img
          src="{{ asset('build/images/logo.svg') }}"
          alt="Logo HH"
          height="40"
        />
      </a>
    </div>
    {% if app.user %}
    <ul class="nav col-12 col-md-auto mb-2 mb-md-0 text-start">
      <li>
        <a href="{{ path('asso_home') }}" class="nav-link px-2 link-secondary"
          >Accueil</a
        >
      </li>
      <li>
        <a href="{{ path('asso_list') }}" class="nav-link px-2">Associations</a>
      </li>
      <li>
        <a href="{{ path('file_new') }}" class="nav-link px-2">Import Files</a>
      </li>
      <li>
        <a href="{{ path('file_list') }}" class="nav-link px-2">Mes Fichiers</a>
      </li>
    </ul>
    {% endif %}
    <div class="col-md-3 text-end">
      {% if app.user %}
      <a href="{{ path('app_logout') }}" class="btn btn-primary text-white"
        >Déconnexion</a
      >
      {% else %} {% if app.request.attributes.get('_route') != 'app_login' %}
      <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2"
        >Connexion</a
      >
      {% endif %} {% endif %}
    </div>
  </header>
</div>
