<div class="row p-5 mb-4 bg-light rounded-3">
  <h2>Adresse</h2>
  <div class="col-md-12">
    <div class="form-group">
      {{ form_label(form.association.adress) }}
      {{ form_widget(form.association.adress) }}
      {{ form_errors(form.association.adress) }}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      {{ form_label(form.association.cp) }}
      {{ form_widget(form.association.cp) }}
      {{ form_errors(form.association.cp) }}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      {{ form_label(form.association.city) }}
      {{ form_widget(form.association.city) }}
      {{ form_errors(form.association.city) }}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      {{ form_label(form.association.tel) }}
      {{ form_widget(form.association.tel) }}
      {{ form_errors(form.association.tel) }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      {{ form_label(form.association.email) }}
      {{ form_widget(form.association.email) }}
      {{ form_errors(form.association.email) }}
    </div>
  </div>
</div>
