<div class="row">
  <div class="col-md-8">
    <!-- Affichage des informations du président -->
    <p>
      <b
        >{{ campAsso.association.president.user.firstname }}
        {{ campAsso.association.president.user.lastname }}</b
      >
      <br />Email : {{ campAsso.association.president.user.email }}
      <br />Fonction : {{ campAsso.association.president.fonction }}
    </p>
  </div>
  <div class="col-md-4 text-end">
    <!-- Boutons pour modifier et ajouter -->
    <div class="mb-4 d-flex justify-content-between">
      <button
        class="btn btn-primary btn-block mr-3"
        onclick="modifierPresident(event)"
      >
        Modifier ce président
      </button>

      <button
        class="btn btn-primary btn-block mx-2"
        onclick="ajouterNouveauPresident(event)"
      >
        Ajouter un président
      </button>
    </div>
  </div>
</div>

<!-- Formulaire pour modifier le président (initiallement caché) -->
<div id="modifierPresidentForm" style="display: none">
  {{ form_widget(form.association.president.user.email, {'attr': {'style': 'display: none;'

  }}) }}

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        {{ form_label(form.association.president.user.firstname) }}
        {{ form_widget(form.association.president.user.firstname) }}
        {{ form_errors(form.association.president.user.firstname) }}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        {{ form_label(form.association.president.user.lastname) }}
        {{ form_widget(form.association.president.user.lastname) }}
        {{ form_errors(form.association.president.user.lastname) }}
      </div>
    </div>

    <div class="col-md-12 mt-3">
      <div class="form-group">
        {{ form_label(form.association.president.fonction) }}
        {{ form_widget(form.association.president.fonction) }}
        {{ form_errors(form.association.president.fonction) }}
      </div>
    </div>
  </div>
</div>

<!-- Formulaire pour ajouter un nouveau président (initiallement caché) -->
<div id="createPresidentForm" style="display: none">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label
          class="col-form-label mt-2 required"
          for="president_new_user_firstname"
          >Prénom</label
        >
        <input
          type="text"
          id="president_new_user_firstname"
          name="president_new[user][firstname]"
          required="required"
          class="form-control js-president"
          minlength="2"
          maxlength="50"
          disabled
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label
          class="col-form-label mt-2 required"
          for="president_new_user_lastname"
          >Nom</label
        >
        <input
          type="text"
          id="president_new_user_lastname"
          name="president_new[user][lastname]"
          required="required"
          class="form-control js-president"
          minlength="2"
          maxlength="50"
          disabled
        />
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label
          class="col-form-label mt-2 required"
          for="president_new_user_email"
          >E-mail</label
        >
        <input
          type="email"
          id="president_new_user_email"
          name="president_new[user][email]"
          required="required"
          class="form-control js-president"
          minlength="2"
          maxlength="50"
          disabled
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label mt-2 required" for="president_new_fonction"
        >Fonction</label
      >
      <input
        type="text"
        id="president_new_fonction"
        name="president_new[fonction]"
        required="required"
        class="form-control js-president"
        minlength="2"
        maxlength="50"
        disabled
      />
    </div>
  </div>
</div>
