{% extends 'base.html.twig' %}

{% block title %}Campains index{% endblock %}

{% block body %}
    <h1>Campains index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campain in campains %}
            <tr>
                <td>{{ campain.id }}</td>
                <td>{{ campain.libelle }}</td>
                <td>{{ campain.date ? campain.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_campains_show', {'id': campain.id}) }}">show</a>
                    <a href="{{ path('app_campains_edit', {'id': campain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_campains_new') }}">Create new</a>
{% endblock %}
