{% extends 'base.html.twig' %} {% block title %}Habitat Humanisme{% endblock %}
{% block body %}
<div class="container">
  <div class="col-md-12">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4">
      {{ message }}
    </div>
    {% endfor %}
    <h1>Interface d'administration des associations</h1>
  </div>
  <div class="col-sm-6 col-lg-8">
    <table class="table table-striped table-hover sortTable">
      <caption>
        Liste des associations
      </caption>
      <thead>
        <tr class="text-center">
          <th scope="col">Id interne</th>
          <th scope="col">Code</th>
          <th scope="col">Libellé</th>
          <th scope="col">Président.e</th>
        </tr>
      </thead>
      <tbody>
        {% for asso in listAsso %}
        <tr>
          <th scope="row">{{ asso.id }}</th>
          <td>{{ asso.code }}</td>
          <td>{{ asso.libelle }}</td>
          <td>{{ asso.person.nameAndFunction }}</td>
          <td>
            <a href="{{ path('asso_show', { id: asso.id }) }}"
              ><i class="fa-solid fa-eye"></i
            ></a>
            <a href="{{ path('asso_edit', { id: asso.id }) }}"
              ><i class="fa-solid fa-pen"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-6 col-lg-4">autres</div>
</div>
{% endblock %}
