{% extends 'base.html.twig' %} {% block title %}Habitat Humanisme{% endblock %}
{% block body %}
<div class="container">
  <h1>MODULE D'AIDE POUR LA COLLECTE DE DON</h1>
</div>

<div class="container px-4 py-2">
  {% if campain is not empty %}
  <div class="row">
    <div class="col-8">
      <h2
        class="pb-2 border-bottom d-flex justify-content-between align-items-center"
      >
        Campagne en cours -
        {{ campain.libelle }}
      </h2>
    </div>
  </div>
  <div class="row p-3 mb-4 bg-light rounded-3">
    <div class="col-md-7 mx-2">
      <b>Emails</b><br />destinataires : {% for destinataire in
      campain.destinataire %} {{ destinataire }}, {% endfor %} <br />envoyés le
      {{ campain.datesend|date('d/m/Y')  }}
      <br />
      {{ stat.nbSentEmailsCount }} emails envoyés /
      {{ stat.nbAssoValidateFormCount }} reponses

      <div
        class="progress"
        role="progressbar"
        aria-label="pourcentage de reponse"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="progress-bar"
          style="width: {{ stat.percentAssoValidateFormCount }}%"
        >
          {{ stat.percentAssoValidateFormCount }}%
        </div>
      </div>
    </div>
    <div class="col-4">
      <a
        href="{{
          path('asso_editAllTextePersonnalise', {
            id: campain.id
          })
        }}"
        title="Lien maj textes association"
        class=""
        ><i class="fa-solid fa-caret-right"></i>
        Mise à jour de tous les textes personnalisés
      </a>
      {% if stat.nbAssoEnAttenteValidateForm > 0 %}
      <br /><a href="#" title="Lien maj textes association" class=""
        ><i class="fa-solid fa-caret-right"></i>
        Relancer par mail les associations en attentes
      </a>
      {% endif %} {% if stat.nbAssoValidateFormCount > 0 %}
      <br /><a href="#" title="Lien maj textes association" class=""
        ><i class="fa-solid fa-caret-right"></i>
        Visualiser les réponses
      </a>
      <br /><a href="#" title="Lien maj textes association" class=""
        ><i class="fa-solid fa-caret-right"></i> Télécharger les réponses
        <i class="fa-regular fa-file-excel"></i>
      </a>
      {% endif %}
    </div>
    <!-- <div class="col-md-4 mx-2">
      <b>{{ stat.nbAssoCount }} Associations</b>
    </div> -->
  </div>

  <div class="container bg-light p-2 mb-4 bg-light rounded-3">
    <div
      class="accordion accordion-flush accordion-borderless"
      id="accordionAsso"
    >
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button bg-primary text-white collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            {{ stat.nbAssoValidateFormCount > 0 ? (stat.nbAssoValidateFormCount > 1 ? stat.nbAssoValidateFormCount ~ ' associations' : stat.nbAssoValidateFormCount ~ ' association') : 'association' }}
            ayant répondu
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionOK"
        >
          <div class="accordion-body">
            {{
              include("admin/campains/_result_tab.html.twig", { repondu: "ok" })
            }}
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button bg-secondary text-white collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseAttente"
            aria-expanded="false"
            aria-controls="collapseAttente"
          >
            {{ stat.nbAssoEnAttenteValidateForm > 0 ? (stat.nbAssoEnAttenteValidateForm > 1 ? stat.nbAssoEnAttenteValidateForm ~ ' associations' : stat.nbAssoEnAttenteValidateForm ~ ' association') : 'association' }}
            en attente
          </button>
        </h2>
        <div
          id="collapseAttente"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionOK"
        >
          <div class="accordion-body">
            {{
              include("admin/campains/_result_tab.html.twig", { repondu: "" })
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %} pas de campagne en cours {% endif %} {% endblock %}
