{% extends 'base.html.twig' %} {% block title %}Edit Campains{% endblock %} {%
block javascripts %}

<script src="/bundles/tinymce/ext/tinymce/tinymce.min.js"></script>
{{ parent() }}
<script>
  tinymce.init({
    selector: "textarea#campains_texte_email",
    plugins: "image lists link anchor charmap ",
    toolbar:
      "blocks | bold italic bullist numlist | link image charmap | custombutton",
    menubar: false,

    setup: function (editor) {
      // Définir le bouton personnalisé
      editor.ui.registry.addButton("custombutton", {
        text: "Ajouter le lien personnalisé",
        icon: "link",
        onAction: function (_) {
          // Ajoutez votre fonctionnalité de bouton personnalisé ici
          editor.insertContent("[Lien_personnalisé_ici_ne_pas_modifier]");
        },
        style: "background-color: #007bff; color: #fff; padding: 5px 10px;", // Inline styles
      });
    },
  });
</script>
{% endblock %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="mb-4">Campagne {{ campain.libelle }}</h2>

          {% if association %}
          <h4>Relancer par email l'association {{ association.libelle }}</h4>
          {% else %}
          <h4>Relance les associations par mail</h4>
          {%endif %}
          <hr />
          {{ form_start(form) }}
          <div class="row mb-3 mt-4">
            <div class="col-md-3">Date de début :</div>
            <div class="col-md-3">
              {{ campain.date|date('d-m-Y')  }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">Campagne précédente :</div>
            <div class="col-md-9">
              {{ campain.oldcampain.libelle }}
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              {{ form_label(form.destinataire) }}
            </div>
            <div class="col-md-9">
              {{ form_widget(form.destinataire) }}
              <div class="form-errors">
                {{ form_errors(form.destinataire) }}
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              {{ form_label(form.email_from) }}
            </div>
            <div class="col-md-5">
              {{ form_widget(form.email_from) }}
              <div class="form-errors">
                {{ form_errors(form.email_from) }}
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="col-md-3">
              {{ form_label(form.email_cc) }}
            </div>
            <div class="col-md-5">
              {{ form_widget(form.email_cc) }}
              <div class="form-errors">{{ form_errors(form.email_cc) }}</div>
            </div>
          </div>

          <div class="form-group mb-3">
            {{ form_label(form.objet_email) }}
            {{ form_widget(form.objet_email) }}
            <div class="form-errors">
              {{ form_errors(form.objet_email) }}
            </div>
          </div>

          <div class="form-group mb-3">
            {{ form_label(form.texte_email) }}
            {{ form_widget(form.texte_email) }}
            <div class="form-errors">
              {{ form_errors(form.texte_email) }}
            </div>
          </div>

          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">
              Envoyer l'email
            </button>

            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
