{% extends 'base.public.html.twig' %} {% block title %}Habitat Humanisme{%
endblock %} {% block javascripts %}
{{ parent() }}
<script src="/bundles/tinymce/ext/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: "textarea#campain_association_texte_personnalise",
    plugins: "image lists link anchor charmap ",
    toolbar:
      "blocks | bold italic bullist numlist | link image charmap | custombutton",
    menubar: false,
  });
</script>
<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img
          src="{{ asset('build/images/logo.svg') }}"
          alt="Logo HH"
          height="40"
        />
      </a>
    </div>
  </header>
</div>
{% endblock %} {% block body %} {% if app.session.flashbag is not empty %}
<div class="container">
  {% for messages in app.session.flashbag.all() %} {% for message in messages %}

  <div class="alert alert-warning">
    {{ message }}
  </div>

  {% endfor %} {% endfor %}
</div>
{% endif %}
<div class="container">
  <main>
    <div class="card">
      <div class="card-body">
        <div class="row g-5">
          <div class="col-md-10 offset-md-1">
            <h1>
              {{ campAsso.campains.libelle }}
            </h1>
            <h2>{{ campAsso.association.libelle }}</h2>
            {{ form_start(form) }}

            <div class="row p-5 mb-4 bg-light rounded-3">
              <div class="col-md-6">
                <h2>Référent(e)</h2>
                <div class="bg-red-100 mb-4 p-2">
                  Veuillez confirmer les coordonnées du référent(e)
                  communication / ressources en charge de la validation de ces
                  informations.
                </div>
              </div>
              <div
                class="col-md-6 d-flex justify-content-end align-items-center"
              >
                <div class="form-check">
                  {{
                    form_label(form.presidentIsReferent, null, {
                      label_attr: {
                        class: "form-check-label",
                        for: "flexCheckDefault"
                      }
                    })
                  }}
                  {{
                    form_widget(form.presidentIsReferent, {
                      attr: {
                        class: "form-check-input",
                        id: "flexCheckDefault"
                      }
                    })
                  }}
                </div>
              </div>

              {{ include("partials/_verif_referent.html.twig") }}
            </div>
            <div class="row p-5 mb-4 bg-light rounded-3">
              <h2>Président(e)</h2>
              {{ include("partials/_verif_president.html.twig") }}
            </div>
            {{ include("partials/_verif_adresse.html.twig") }}

            <div class="row p-5 mb-4 bg-light rounded-3">
              <h2>Présentation association</h2>
              <div class="col-md-12 mt-4">
                <div class="form-group">
                  <h3>Ancien texte de présentation</h3>
                  {{ campAsso.campains.oldcampain.libelle }}
                  <div class="card bg-light">
                    <div class="card-body text-justify">
                      {% if oldCampainAssociations is not empty %}
                      {{ oldCampainAssociations.textepersonnalise | raw }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-4">
                <div class="form-group">
                  <h3>
                    {{ form_label(form.texte_personnalise) }}
                    {{ campAsso.campains.libelle }}
                  </h3>
                  {{ form_widget(form.texte_personnalise) }}
                  {{ form_errors(form.texte_personnalise) }}
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <b class="text-danger"
                  >Attention, vous ne pourrez plus modifier après validation du
                  formulaire</b
                >
                <br />
                <button type="submit" class="btn btn-primary mt-2">
                  Valider
                </button>
              </div>
            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="{{ asset('build/js/association-data-validation.js') }}"></script>
{% endblock %}
