<div class="form-group mb-3">
  {{ form_label(form.user.lastname) }}
  {{ form_widget(form.user.lastname) }}
  <div class="invalid-feedback">
    {{ form_errors(form.user.lastname) }}
  </div>
</div>

<div class="form-group mb-3">
  {{ form_label(form.user.firstname) }}
  {{ form_widget(form.user.firstname) }}
  <div class="invalid-feedback">
    {{ form_errors(form.user.firstname) }}
  </div>
</div>
<div class="form-group mb-3">
  {{ form_label(form.user.email) }}
  {{ form_widget(form.user.email) }}
  <div class="invalid-feedback">
    {{ form_errors(form.user.email) }}
  </div>
</div>
<div class="form-group mb-3">
  {{ form_label(form.tel) }}
  {{ form_widget(form.tel) }}
  <div class="invalid-feedback">
    {{ form_errors(form.tel) }}
  </div>
</div>
